<div class="wrapper">
  <div id="loggedIn">
    <h1>Welcome to FireDice, {{user.firstName}}</h1>
    <img ng-src="https://graph.facebook.com/{{user.id}}/picture/?type=large&return_ssl_resources=1" /><br />
    <a class="btn clean" ng-click="createGame()" ng-show="!isInGame()">Create Game</a>
    <div id="logout-div" class="pushv4">
      <a id="logout-button" class="btn clean" ng-click="authClient.logout()">
        <span class="icon facebook"></span>
        <span>Log Out</span>
      </a>
    </div>
  </div>
  <div id="gameList">
    <div ng-repeat="(name, game) in games" class="runningGame">
      <div ng-show="!game.started"><b>Waiting For Players</b></div>
      <div ng-show="game.started"><b>In Progress</b></div>
      <br />
      <span ng-repeat="player in game.players">
        <img ng-src="https://graph.facebook.com/{{player.id}}/picture/?type=small&return_ssl_resources=1" />
      </span>
    </div>
  </div>
</div>