<div class="wrapper">
  <div id="login-div" class="pushv4" ng-show="!isLoggedIn">
    <a id="login-button" class="btn clean" ng-click="login()">
      <span class="icon facebook"></span>
      <span>Sign in with Facebook</span>
    </a>
  </div>
  <div id="loggedIn" ng-show="isLoggedIn">
    <h1>Welcome to FireDice, {{user.firstName}}</h1>
    <img ng-src="https://graph.facebook.com/{{user.id}}/picture/?type=large&return_ssl_resources=1" /><br />
    <a class="btn clean" ng-click="createGame()" ng-show="!isInGame()">Create Game</a>
    <div id="logout-div" class="pushv4">
      <a id="logout-button" class="btn clean" ng-click="logout()">
        <span class="icon facebook"></span>
        <span>Log Out</span>
      </a>
    </div>
  </div>
  <div id="game" ng-show="isInGame()">
    <h1>Game time {{user.firstName}}!!</h1>
  </div>
</div>